.about_category{
    margin-top: 70px;
    
}

.about_category_headline_image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url("../assets/category_headline_image.jpg") ;
    background-size: cover;
    height: 300px;
    position: relative;
    
}


.about_category_headline_texts{
    
    justify-content: center;
    position: absolute;
}

.about_category_headline{
    
    top: 0px;
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    margin-bottom: 0;
   
}

.about_category_headline_description{
    text-align: center;
    font-size: 16px; 
    padding: 50px;
   
}

.about_category_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px;
    text-align:justify;
  
    
    
}

.about_paragraph{
   gap: 30px;
    
}

@media screen and (max-width:768px) {

    .about_category_headline_image{
        display: flex;
        flex-wrap: wrap;

    }
    .about_category_body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 70px;
        text-align:justify;
        flex-wrap: wrap;
        
        
    }
    
    .about_paragraph{
       gap: 30px;
       
    }

}
