
/* ------------------------------ rest of all pages' grid/cards---------------- */
.recipe_card_page_link{

    text-decoration: none;
    color: #000;
}
h2{
    font-family: 'Noto Serif', serif;
    margin:20px;
}

.card_recipe{
    border: 2px;
    border-radius: 5px;
    width: 240px;
    padding: 5px;
    height: 325px;
    

}
.card_recipe:hover{
    scale: 1.1;
}

.card_image{
    
    border-radius: 5px;
    width: 240px;
    height: 225px;
    object-fit:cover;
}

.card_identity{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.card_name {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Noto Serif', serif;
    font-size: 14px;

}


.card_preparation_time {
    display: flex;
    align-items:center;
    gap: 6px;

}
.card_preparation_time p { 
    font-size: 12px;
    margin: 0%;
    /* retirar a margem do paragrafo de forma a alinhar com o icon */
}

/* media queries- mobile support  */

