body{

    margin: 0px ;
}

.recipes_category_grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 10px ;
    justify-content: space-around;
    align-items: center;
    padding: 2px 20px 20px 20px;
   
}

.category_headline{
    font-family: 'Noto Serif', serif;
    padding-left: 20px;
    align-items: center;
    padding-top: 70px;
   font-size: 40px;
}


